{% extends 'base.html' %}

{% block content %}
    <h1 class="text-center">Home Page</h1>
    <div class="intro">
        <div class="intro-text">
            <h1 class="hide">
                <span class="texty">Sebastian Richards</span>
            </h1>
            <h1 class="hide">
                <span class="texty">Software Dev</span>
            </h1>
            <h1 class="hide">
                <span class="texty">A cool dude</span>
            </h1>
        </div>
    </div>
    <div class="slider"></div>


{% endblock %}